/* Charger Controllers Section */
.chargerControllers {
    /* margin: 20px; */
    padding: 14px;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }
  
  .chargerControllers h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  /* Flexbox layout for buttons */
  .buttonGroup {
    display: flex;
    flex-wrap: wrap;  /* Allow buttons to wrap on small screens */
    gap: 10px;  /* Add space between buttons */
  }
  
  .button {
    background-color: #4cb050;
    color: white;
    border: none;
    padding: 7px 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    /* flex: 1 1 150px;  */
    /* text-align: center;  */
  }
  
  .button:hover {
    background-color: #54c758; /* Darker blue on hover */
  }
  
  .button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(38, 143, 255, 0.5); /* Focus effect */
  }



  
  .Container {
    padding: 20px;
    background-color: #ffffff; /* Light background for consistency */
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Enhanced shadow */
    margin: -2px 0px 0px 0px;
    display: flex;
    flex-direction: column;
  }
/* Table.module.css */
.tableContainer {
    margin: 0px;
    /* padding: 20px; */
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .table th,
  .table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .table th {
    background-color: #f4f4f4;
  }
  
  .table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .table tr:hover {
    background-color: #f1f1f1;
  }
  
  

  /* The overlay background that covers the screen */
.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensures the modal appears on top */
  }
  
  /* The modal container */
  .modal {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    max-width: 90%; /* Makes the modal responsive */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Form and input styling */
  .formGroup {
    margin-bottom: 15px;
  }
  
  .formGroup label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .formGroup input, .formGroup textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  /* Buttons */
  .submitButton, .cancelButton {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .submitButton {
    background-color: #007bff;
    color: white;
  }
  
  .submitButton:hover {
    background-color: #0056b3;
  }
  
  .cancelButton {
    background-color: #f44336;
    color: white;
    margin-left: 10px;
  }
  
  .cancelButton:hover {
    background-color: #e53935;
  }